<aside id="aside-1">Aside1 - Display Block</aside>
<span id="span-1">Span1 - Display Inline</span>
<img alt="" id="img"
    src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
<span id="span-2">Span1 - Display Inline</span>
<aside id="aside-2">Aside2 - Display Block</aside>



