{{!-- Begin Header Section --}}
<header class="header">
    <a href="#">LOGO</a>
    <section class="icons">
        <div class="fas fa-moon" id="theme-btn"></div>
        <div class="fas fa-palette" id="color-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-bars" id="menu-btn"></div>
    </section>

    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#services">Services</a>
        <a href="#gallery">Gallery</a>
        <a href="#pricing">Pricing</a>
        <a href="#review">Review</a>
        <a href="#contact">Contact</a>
    </nav>

    <form action="" class="search-form">
        <input 
            type="search" 
            name="" 
            placeholder="search here..." 
            id="search-box"
        >
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <section class="colors-palette">
        <h3>chose color</h3>
        <aside class="colors">
            <div class="color" style="background: #2980b9"></div>
            <div class="color" style="background: #27ae60;"></div>
            <div class="color" style="background: #e74c3c;"></div>
            <div class="color" style="background: #8e44ad;"></div>
            <div class="color" style="background: #b33771;"></div>
            <div class="color" style="background: #0fb9b1;"></div>
            <div class="color" style="background: #ff9f1a;"></div>
            <div class="color" style="background: #e84393;"></div>
            <div class="color" style="background: #17c0eb;"></div>
        </aside>
    </section>
</header>
{{!-- End Header Section --}}

{{!-- Begin Home Section --}}
<section class="home" id="home">
    <aside class="content">
        <h3>IndigoMX9</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sapiente tenetur cum velit aspernatur eveniet, itaque nisi reiciendis nesciunt eligendi, maiores commodi praesentium dignissimos, cupiditate unde magnam at neque asperiores.</p>
        <a href="#services" class="btn">discover</a>
    </aside>
</section>
{{!-- End Home Section --}}

{{!-- Begin Services Section --}}
<section class="services" id="services">
    <h1 class="heading">our <span>services</span></h1>
    <article class="box-container">
        <aside class="box">
            <span>01</span>
            <i class="fas fa-code"></i>
            <h3>web design</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, iste.</p>
        </aside>
        <aside class="box">
            <span>02</span>
            <i class="fas fa-code"></i>
            <h3>responsive</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, iste.</p>
        </aside>
        <aside class="box">
            <span>03</span>
            <i class="fas fa-code"></i>
            <h3>custom design</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, iste.</p>
        </aside>
        <aside class="box">
            <span>01</span>
            <i class="fas fa-code"></i>
            <h3>web design</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, iste.</p>
        </aside>
        <aside class="box">
            <span>05</span>
            <i class="fas fa-code"></i>
            <h3>email marketing</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, iste.</p>
        </aside>
        <aside class="box">
            <span>06</span>
            <i class="fas fa-code"></i>
            <h3>24/7 services</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, iste.</p>
        </aside>
    </article>
</section>
{{!-- End Services Section --}}

{{!-- Begin Gallery Section  --}}
<section class="gallery" id="gallery">
    <h1 class="heading">our<span>gallery</span></h1>
    <main class="box-container">
        <aside class="box">
            <img src="/img/g-1.jpg" alt="">
            <div class="content">
                <h3>project 01</h3>
                <span>01/09/2021</span>
            </div>
        </aside>

        <aside class="box">
            <img src="/img/g-2.jpg" alt="">
            <div class="content">
                <h3>project 01</h3>
                <span>01/09/2021</span>
            </div>
        </aside>

        <aside class="box">
            <img src="/img/g-3.jpg" alt="">
            <div class="content">
                <h3>project 01</h3>
                <span>01/09/2021</span>
            </div>
        </aside>

        <aside class="box">
            <img src="/img/g-4.jpg" alt="">
            <div class="content">
                <h3>project 01</h3>
                <span>01/09/2021</span>
            </div>
        </aside>

        <aside class="box">
            <img src="/img/g-5.jpg" alt="">
            <div class="content">
                <h3>project 01</h3>
                <span>01/09/2021</span>
            </div>
        </aside>

        <aside class="box">
            <img src="/img/g-6.jpg" alt="">
            <div class="content">
                <h3>project 01</h3>
                <span>01/09/2021</span>
            </div>
        </aside>
    </main>
</section>
{{!-- End Gallery Section  --}}

{{!-- Start Pricing Section --}}
<section class="pricing" id="pricing">
    <h1 class="heading">our <span>pricing</span></h1>
    <main class="box-container">
        <aside class="box">
            <span class="fas fa-paper-plane"></span>
            <h3>basic plan</h3>
            <div class="price"><i>$</i>10<i>/monthly</i></div>
            <ul>
                <li><i class="fas fa-check"></i>5 projects</li>
                <li><i class="fas fa-check"></i>maintainance</li>
                <li><i class="fas fa-check"></i>5GB storage</li>
                <li><i class="fas fa-check"></i>1 domain</li>
                <li><i class="fas fa-check"></i>24/7 services</li>
            </ul>
            <a href="#" class="btn">chose plan</a>
        </aside>

        <aside class="box">
            <span class="fas fa-paper-plane"></span>
            <h3>standard plan</h3>
            <div class="price"><i>$</i>10<i>/monthly</i></div>
            <ul>
                <li><i class="fas fa-check"></i>5 projects</li>
                <li><i class="fas fa-check"></i>maintainance</li>
                <li><i class="fas fa-check"></i>5GB storage</li>
                <li><i class="fas fa-check"></i>1 domain</li>
                <li><i class="fas fa-check"></i>24/7 services</li>
            </ul>
            <a href="#" class="btn">chose plan</a>
        </aside>
    </main>
</section>


