<h1>Flex</h1>

<main class="container"><h1>Flexbox Container</h1>
    <section class="flexbox-item item-1">Item 1</section>
    <section class="flexbox-item item-2">Item 2</section>
    <section class="flexbox-item item-3">Item 3</section>
</main>



